@import "mixins";
@import "variables";

* {
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        max-width: 540px;
    }

    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 983px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1140px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 1320px;
    }
}

strong {
    font-weight: 700;
}

.button {
    background-color: $denim;
    padding: 12px 28px;
    font-family: "Noto Sans", sans-serif;
    color: $white;
    font-size: 23px;
    line-height: 38px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9) contrast(1.2);
    }

    &--goods {
        padding: 12px 16px;
    }

    &--subscribe {
        border: none;
        padding: 5px 35px;
        font-size: 15px;
        font-weight: 500;
    }
}

.heading {
    font-family: "Staatliches", sans-serif;
    font-size: 35px;
    line-height: 52px;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
        font-size: 45px;
        line-height: 67.5px;
    }
}
