@import "../partials/mixins";
@import "../partials/variables";

.advantages {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    z-index: 1;
    position: relative;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }

    &__item {
        color: $white;
        background-color: $denim;
        font-weight: 400;
        font-family: "Noto Sans", sans-serif;
        text-align: center;
        padding: 85px 55px;
        width: 100%;

        &:nth-child(2) {
            background-color: $dull-blue;
        }

        @include media-breakpoint-up(lg) {
            max-width: 420px;
        }

        .item-icon {
            margin-bottom: 25px;

            svg {
                width: 80px;
                height: 80px;
            }
        }

        .item-heading {
            text-transform: uppercase;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 25px;
            font-family: Staatliches, sans-serif;
        }

        .item-content {
            font-size: 17px;
            line-height: 28px;
            font-family: "Noto Sans", sans-serif;
        }
    }
}
