@import "../partials/mixins";
@import "../partials/variables";

.goods {
    padding-top: 50px;
    padding-bottom: 50px;

    &__text {
        font-family: "Noto Sans", sans-serif;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin: 0 auto 50px;
        max-width: 800px;
        width: 100%;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto;
        row-gap: 30px;
        

        @include media-breakpoint-up(lg) {
            grid-template-columns: auto auto auto;
            column-gap: 30px;
        }

        .goods-item {
            background-color: $white-smoke;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 60px 35px;

            @include media-breakpoint-up(lg) {
                padding: 75px 65px;
            }

            .item-image {
                width: 100%;
                height: auto;
            }

            .item-heading {
                text-transform: uppercase;
                color: $black;
                font-size: 30px;
                line-height: 45px;
                font-style: normal;
                font-family: "Staatliches", sans-serif;
                text-align: center;
                margin-bottom: 24px;
            }

            .description {
                font-weight: 16px;
                line-height: 24px;
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
}
