@import "../partials/mixins";
@import "../partials/variables";

.history {
    padding: 100px 24px;
    background-color: $black;
    background-image: url("../../../assets/images/vegetables-background.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    color: $white;
    position: relative;

    &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: $black;
        opacity: 0.8;
    }

    .container {
        z-index: 3;
        position: relative;
    }

    .heading {
        margin-bottom: 20px;
        color: $white;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        margin: 0 auto 45px;
        max-width: 800px;
        width: 100%;
        text-align: center;
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .smaller-heading {
        font-family: "Staatliches", sans-serif;
        font-size: 26px;
        line-height: 39px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 18px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        img {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px;
            border-radius: 16px;
        }

        .content-item {
            margin: 12px;
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            line-height: 29px;
            font-weight: 400px;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            text-align: start;
            align-items: start;

            img {
                margin-left: 135px;
                margin-right: 24px;
                margin-bottom: 0;
            }
        }
    }
}
