@import "../partials/mixins";
@import "../partials/variables";

.reviews {
    padding-top: 50px;
    padding-bottom: 75px;
    &__wrapper {
        display: grid;
        grid-template-columns: auto;
        row-gap: 30px;

        img {
            width: 80px;
            height: 80px;
            margin-bottom: 24px;
        }

        .text {
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }

        h5 {
            font-family: "Staatliches", sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 30px;
        }

        a {
            color: $denim;
            text-decoration: underline;
            font-size: 17px;
            line-height: 28px;
            font-family: "Noto Sans", sans-serif;
        }

        .company {
            font-size: 17px;
            line-height: 28px;
            font-family: "Noto Sans", sans-serif;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: auto auto auto;
            column-gap: 30px;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__item {
        text-align: center;
        background-color: $white-smoke;
        padding: 50px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
